<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Django Highcharts.js</title>
    </head>
    <body>
        <ul>
            <li><a href="{% url 'sex_view' %}">JavaScript 1</a></li>
        </ul>
        <ul>
            <li><a href="{% url 'sex_view_2' %}">JavaScript 2</a></li>
        </ul>
        <ul>
            <li><a href="{% url 'sex_view_3' %}">JavaScript 3</a></li>
        </ul>
        <ul>
            <li><a href="{% url 'ajax' %}">JSON(Ajax)</a></li>
        </ul>
    </body>
</html>